/01dataset
/__pycache__
/aacparser_test.py
/aacwindowgrouping_test.py
/ablation
/ablation_result.xlsx
/audio_dataset_info_20250415_215714.csv
/bitreader_test.py
/classifyAudio_RF.py
/confusionMatrix_count_training_20250501_162409
/confusionMatrix_norm_training_20250501_162409
/featureimportance_20250501_162409_rf.xlsx
/featureimportance_20250501_162409_rf_2.xlsx
/old
/preprocessingFeature_filtering.py
/preprocessingFeature_filtering_lda.py
/preprocessingFeature_filtering_onlyboxdata.py
/preprocessing_20250501_162409
/preprocessing_20250501_162637
/preprocessing_20250501_163104
/preprocessing_20250501_163334
/result_training_20250501_162409.txt
/savePreprocessingFeature_lda.py
/saveTrainingModel_LR.py
/saveTrainingModel_SVC.py
/saveTrainingModel_voting.py
/saveTraningModel_RF.py
/test
/test2
/trainingModel.py