ffmpeg-python==0.2.0
future==1.0.0
joblib==1.5.2
numpy==2.3.4
pandas==2.3.3
pymediainfo==7.0.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.2
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.2
scipy==1.16.2
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
